# Created by https://www.gitignore.io/api/macos

### macOS ###
*.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# End of https://www.gitignore.io/api/macos
libraries/FastLED-3.1.6/wiring.cpp
libraries/FastLED-3.1.6/release_notes.md
libraries/FastLED-3.1.6/preview_changes.txt
libraries/FastLED-3.1.6/power_mgt.h
libraries/FastLED-3.1.6/power_mgt.cpp
libraries/FastLED-3.1.6/platforms/esp/8266/led_sysdefs_esp8266.h
libraries/FastLED-3.1.6/platforms/esp/8266/fastpin_esp8266.h
libraries/FastLED-3.1.6/platforms/esp/8266/fastled_esp8266.h
libraries/FastLED-3.1.6/platforms/esp/8266/clockless_esp8266.h
libraries/FastLED-3.1.6/platforms/esp/8266/clockless_block_esp8266.h
libraries/FastLED-3.1.6/platforms/esp/32/led_sysdefs_esp32.h
libraries/FastLED-3.1.6/platforms/esp/32/fastpin_esp32.h
libraries/FastLED-3.1.6/platforms/esp/32/fastled_esp32.h
libraries/FastLED-3.1.6/platforms/esp/32/clockless_esp32.h
libraries/FastLED-3.1.6/platforms/esp/32/clockless_block_esp32.h
libraries/FastLED-3.1.6/platforms/avr/led_sysdefs_avr.h
libraries/FastLED-3.1.6/platforms/avr/fastspi_avr.h
libraries/FastLED-3.1.6/platforms/avr/fastpin_avr.h
libraries/FastLED-3.1.6/platforms/avr/fastled_avr.h
libraries/FastLED-3.1.6/platforms/avr/clockless_trinket.h
libraries/FastLED-3.1.6/platforms/arm/stm32/led_sysdefs_arm_stm32.h
libraries/FastLED-3.1.6/platforms/arm/stm32/fastpin_arm_stm32.h
libraries/FastLED-3.1.6/platforms/arm/stm32/fastled_arm_stm32.h
libraries/FastLED-3.1.6/platforms/arm/stm32/clockless_arm_stm32.h
libraries/FastLED-3.1.6/platforms/arm/sam/led_sysdefs_arm_sam.h
libraries/FastLED-3.1.6/platforms/arm/sam/fastspi_arm_sam.h
libraries/FastLED-3.1.6/platforms/arm/sam/fastpin_arm_sam.h
libraries/FastLED-3.1.6/platforms/arm/sam/fastled_arm_sam.h
libraries/FastLED-3.1.6/platforms/arm/sam/clockless_block_arm_sam.h
libraries/FastLED-3.1.6/platforms/arm/sam/clockless_arm_sam.h
libraries/FastLED-3.1.6/platforms/arm/nrf51/led_sysdefs_arm_nrf51.h
libraries/FastLED-3.1.6/platforms/arm/nrf51/fastspi_arm_nrf51.h
libraries/FastLED-3.1.6/platforms/arm/nrf51/fastpin_arm_nrf51.h
libraries/FastLED-3.1.6/platforms/arm/nrf51/fastled_arm_nrf51.h
libraries/FastLED-3.1.6/platforms/arm/nrf51/clockless_arm_nrf51.h
libraries/FastLED-3.1.6/platforms/arm/kl26/led_sysdefs_arm_kl26.h
libraries/FastLED-3.1.6/platforms/arm/kl26/fastspi_arm_kl26.h
libraries/FastLED-3.1.6/platforms/arm/kl26/fastpin_arm_kl26.h
libraries/FastLED-3.1.6/platforms/arm/kl26/fastled_arm_kl26.h
libraries/FastLED-3.1.6/platforms/arm/kl26/clockless_arm_kl26.h
libraries/FastLED-3.1.6/platforms/arm/k66/led_sysdefs_arm_k66.h
libraries/FastLED-3.1.6/platforms/arm/k66/fastspi_arm_k66.h
libraries/FastLED-3.1.6/platforms/arm/k66/fastpin_arm_k66.h
libraries/FastLED-3.1.6/platforms/arm/k66/fastled_arm_k66.h
libraries/FastLED-3.1.6/platforms/arm/k66/clockless_block_arm_k66.h
libraries/FastLED-3.1.6/platforms/arm/k66/clockless_arm_k66.h
libraries/FastLED-3.1.6/platforms/arm/k20/smartmatrix_t3.h
libraries/FastLED-3.1.6/platforms/arm/k20/octows2811_controller.h
libraries/FastLED-3.1.6/platforms/arm/k20/led_sysdefs_arm_k20.h
libraries/FastLED-3.1.6/platforms/arm/k20/fastspi_arm_k20.h
libraries/FastLED-3.1.6/platforms/arm/k20/fastpin_arm_k20.h
libraries/FastLED-3.1.6/platforms/arm/k20/fastled_arm_k20.h
libraries/FastLED-3.1.6/platforms/arm/k20/clockless_block_arm_k20.h
libraries/FastLED-3.1.6/platforms/arm/k20/clockless_arm_k20.h
libraries/FastLED-3.1.6/platforms/arm/d21/led_sysdefs_arm_d21.h
libraries/FastLED-3.1.6/platforms/arm/d21/fastpin_arm_d21.h
libraries/FastLED-3.1.6/platforms/arm/d21/fastled_arm_d21.h
libraries/FastLED-3.1.6/platforms/arm/d21/clockless_arm_d21.h
libraries/FastLED-3.1.6/platforms/arm/common/m0clockless.h
libraries/FastLED-3.1.6/platforms.h
libraries/FastLED-3.1.6/pixeltypes.h
libraries/FastLED-3.1.6/pixelset.h
libraries/FastLED-3.1.6/noise.h
libraries/FastLED-3.1.6/noise.cpp
libraries/FastLED-3.1.6/library.properties
libraries/FastLED-3.1.6/library.json
libraries/FastLED-3.1.6/lib8tion/trig8.h
libraries/FastLED-3.1.6/lib8tion/scale8.h
libraries/FastLED-3.1.6/lib8tion/random8.h
libraries/FastLED-3.1.6/lib8tion/math8.h
libraries/FastLED-3.1.6/lib8tion.h
libraries/FastLED-3.1.6/lib8tion.cpp
libraries/FastLED-3.1.6/led_sysdefs.h
libraries/FastLED-3.1.6/keywords.txt
libraries/FastLED-3.1.6/hsv2rgb.h
libraries/FastLED-3.1.6/hsv2rgb.cpp
libraries/FastLED-3.1.6/fastspi_types.h
libraries/FastLED-3.1.6/fastspi_ref.h
libraries/FastLED-3.1.6/fastspi_nop.h
libraries/FastLED-3.1.6/fastspi_dma.h
libraries/FastLED-3.1.6/fastspi_bitbang.h
libraries/FastLED-3.1.6/fastspi.h
libraries/FastLED-3.1.6/fastpin.h
libraries/FastLED-3.1.6/fastled_progmem.h
libraries/FastLED-3.1.6/fastled_delay.h
libraries/FastLED-3.1.6/fastled_config.h
libraries/FastLED-3.1.6/extras/RainbowDemo.s65
libraries/FastLED-3.1.6/extras/RainbowDemo.bin.zip
libraries/FastLED-3.1.6/extras/FastLED6502.s65
libraries/FastLED-3.1.6/extras/AppleII.s65
libraries/FastLED-3.1.6/examples/XYMatrix/XYMatrix.ino
libraries/FastLED-3.1.6/examples/SmartMatrix/SmartMatrix.ino
libraries/FastLED-3.1.6/examples/RGBSetDemo/RGBSetDemo.ino
libraries/FastLED-3.1.6/examples/RGBCalibrate/RGBCalibrate.ino
libraries/FastLED-3.1.6/examples/Ports/PJRCSpectrumAnalyzer/PJRCSpectrumAnalyzer.ino
libraries/FastLED-3.1.6/examples/Pintest/Pintest.ino
libraries/FastLED-3.1.6/examples/NoisePlusPalette/NoisePlusPalette.ino
libraries/FastLED-3.1.6/examples/NoisePlayground/NoisePlayground.ino
libraries/FastLED-3.1.6/examples/Noise/Noise.ino
libraries/FastLED-3.1.6/examples/Multiple/ParallelOutputDemo/ParallelOutputDemo.ino
libraries/FastLED-3.1.6/examples/Multiple/OctoWS2811Demo/OctoWS2811Demo.ino
libraries/FastLED-3.1.6/examples/Multiple/MultipleStripsInOneArray/MultipleStripsInOneArray.ino
libraries/FastLED-3.1.6/examples/Multiple/MultiArrays/MultiArrays.ino
libraries/FastLED-3.1.6/examples/Multiple/MirroringSample/MirroringSample.ino
libraries/FastLED-3.1.6/examples/Multiple/ArrayOfLedArrays/ArrayOfLedArrays.ino
libraries/FastLED-3.1.6/examples/FirstLight/FirstLight.ino
libraries/FastLED-3.1.6/examples/Fire2012WithPalette/Fire2012WithPalette.ino
libraries/FastLED-3.1.6/examples/Fire2012/Fire2012.ino
libraries/FastLED-3.1.6/examples/DemoReel100/DemoReel100.ino
libraries/FastLED-3.1.6/examples/Cylon/Cylon.ino
libraries/FastLED-3.1.6/examples/ColorTemperature/ColorTemperature.ino
libraries/FastLED-3.1.6/examples/ColorPalette/ColorPalette.ino
libraries/FastLED-3.1.6/examples/Blink/Blink.ino
libraries/FastLED-3.1.6/examples/AnalogOutput/AnalogOutput.ino
libraries/FastLED-3.1.6/docs/mainpage.dox
libraries/FastLED-3.1.6/docs/Doxyfile
libraries/FastLED-3.1.6/dmx.h
libraries/FastLED-3.1.6/cpp_compat.h
libraries/FastLED-3.1.6/controller.h
libraries/FastLED-3.1.6/colorutils.h
libraries/FastLED-3.1.6/colorutils.cpp
libraries/FastLED-3.1.6/colorpalettes.h
libraries/FastLED-3.1.6/colorpalettes.cpp
libraries/FastLED-3.1.6/color.h
libraries/FastLED-3.1.6/chipsets.h
libraries/FastLED-3.1.6/bitswap.h
libraries/FastLED-3.1.6/bitswap.cpp
libraries/FastLED-3.1.6/README.md
libraries/FastLED-3.1.6/PORTING.md
libraries/FastLED-3.1.6/LICENSE
libraries/FastLED-3.1.6/FastLED.h
libraries/FastLED-3.1.6/FastLED.cpp
libraries/FastLED-3.1.6/.gitignore
Release/subdir.mk
Release/sources.mk
Release/objects.mk
Release/makefile
Release/arduino.ar
Release/FastLEDfx.elf
Release/FastLEDfx.bin
Release/.ino.cpp.o
Release/.ino.cpp.d
Release/.gitignore
.settings/org.eclipse.cdt.core.prefs
.settings/language.settings.xml
.project
.ino.cpp
.cproject
